*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

*****************    CSS units   ***********
absolute unit px - pixel (Best for - icons/border)

| Unit   | Relative To             | Example  | Best For                   |
| ------ | ----------------------- | -------- | -------------------------- |
| `%`    | Parent element          | `50%`    | Width, height, padding     |
| `em`   | Font-size of parent     | `2em`    | Padding, margin, font-size |
| `rem`  | Root element (`<html>`) | `1rem`   | Font-size, spacing         |
| `vw`   | 1% of viewport width    | `50vw`   | Full-width layouts         |
| `vh`   | 1% of viewport height   | `100vh`  | Full-screen sections       |
| `vmin` | Smaller of `vw` or `vh` | `10vmin` | Scalable containers        |
| `vmax` | Larger of `vw` or `vh`  | `10vmax` | Hero banners, headings     |

**************colors and opacity**************
#p6 {background-color:rgba(0,255,0,0.1);}
#p5 {background-color:rgba(0,255,0,0.2);}
#p4 {background-color:rgba(0,255,0,0.3);}
#p3 {background-color:rgba(0,255,0,0.4);}
#p2 {background-color:rgba(0,255,0,0.5);}
#p1 {background-color:rgba(0,255,0,0.6);}
